/*
Names: Rawan Saab: 213693625, Lareen Kadour:213992431 , George Hanna: 324090968
Github URL: https://github.com/rawansaab/ex1
*/
body {
  margin: 0;
  font-family: "Bree Serif", serif;  
  background-image: url("background.webp");
  background-attachment: fixed;
  background-repeat: repeat;
}

.main-container {
  width: 80%;
  margin: 3% auto;
  background-color: white;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2); 
  position: relative;
}

#banner-container{
  height: 350px;
  background-image: url("banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.profile-img-wrapper {
  position: relative;
  height: 100%;
  left: 2px;
}

.profile-img {
  border: 10px solid white;
  width: 200px;
  height: 200px;
  top: 70%;
  left: -2%;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
}

.main-title {
  font-size: 3vw;
  font-family: "Rammetto One", cursive;
  padding-top: 10px;
  text-shadow: 3px 1px #999999;
  text-align: center;
  margin: 0;
}

.content-block {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;

}

.text-column, .image-column{
  flex: 1;
}

.content-block img {
    display: block;
    margin: 0 auto;
    max-height: 600px;
    max-width: 400px;
    width: 30vw;
}

.info-section .text-column {
    padding-right: 20px; 
}

.info-row {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;
}

.info-label {
    width: 40%; 
    font-weight: bold;
}

.info-value {
    width: 60%; 
}

.info-value ul {
    margin: 0;
    padding-left: 20px;
}

.endorsements-section {
  background-image: url("clouds.webp");
  background-repeat: repeat;
}

.endorse-layout {
  display: flex;
  gap: 2%;
}

.endorsement-card {
  border-left: 10px solid #cccaca;
  background-color: white;
  margin-bottom: 15px;
  padding: 10px;
}

.endorsement-card hr {
  width: 40%;
  margin: 10px 0;
}

.endorser {
  margin: 0;
}

.friends-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  justify-items: center;
}


.friend-img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  display: inline-block;
}

.footer {
  background-color: #5f5b5b;
  font-weight: bold;
  color: black;
  padding: 10px;
  text-align: center;
}