/*
Names: Rawan Saab: 213693625, Lareen Kadour:213992431 , George Hanna: 324090968
Github URL: https://github.com/rawansaab/ex1
*/
body {
  margin: 0;
  font-family: "Bree Serif", serif;  
  background-image: url("background.webp");
  background-attachment: fixed;
  background-repeat: repeat;
}

.main-container {
  width: 80%;
  margin: 3% auto;
  background-color: white;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2); 
  position: relative;
}

#banner-container{
  height: 350px;
  background-image: url("banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.profile-img-wrapper {
  position: relative;
  height: 100%;
  left: 2px;
}

.profile-img {
  border: 10px solid white;
  width: 200px;
  height: 200px;
  top: 70%;
  left: -2%;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
}

.main-title {
  font-size: 3vw;
  font-family: "Rammetto One", cursive;
  padding-top: 10px;
  text-shadow: 3px 1px #999999;
  text-align: center;
  margin: 0;
}
.content-block {

}

.text-column, .image-column{
  flex: 1;
}

.img-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-img {
  max-height: 600px;
  max-width: 400px;
  width: 30vw;
  height: auto;
}

.sub-title {
  margin: 18px 0 6px 0;
}

.siblings {
  margin: 0;
  padding-left: 20px;
}

.section-title {
  text-transform: uppercase;
  font-size: 2.5vw;
  text-align: center;
  margin: 10px 0 20px 0;
}

.endorsements {
  background-image: url("clouds.webp");
  background-repeat: repeat;
}

.endorse-layout {
  display: flex;
  gap: 2%;
}

.endorsement-card {
  border-left: 10px solid #cccaca;
  background-color: white;
  margin-bottom: 15px;
  padding: 10px;
}

.endorsement-card hr {
  width: 40%;
  margin: 10px 0;
}

.endorser {
  margin: 0;
}

.friends-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  justify-items: center;
}


.friend-img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  display: inline-block;
}

.footer {
  background-color: #5f5b5b;
  font-weight: bold;
  color: black;
  padding: 10px;
  text-align: center;
}