/*
Rawan Saab: 213693625, Lareen Kadour:213992431 , George Hanna: 324090968
*/
body {
  font-family: "Bree Serif", serif;
  margin: 0;
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
}
.page {
  width: 80%;
  margin: 3% auto;
  background-color: white;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
}

.banner{
  height:350px;
  background-image: url("banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  overflow: visible;
}

.profile-img-wrapper {
  position: relative;
  height: 100%;
  left: 2px;
}

.profile-img {
  position: absolute;
  top: 70%;
  left: -2%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid white;
  object-fit: cover;
}

.main-title {
  font-size: 3vw;
  font-family: "Rammetto One", cursive;
  padding-top: 10px;
  text-shadow: 3px 1px #999999;
  text-align: center;
  margin: 0;
}

.section{
  padding: 2% 5%;
}

.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  margin-top: 120px;
}
.col{
  flex: 1;
}

.img-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-img {
  max-height: 600px;
  max-width: 400px;
  width: 30vw;
  height: auto;
}

.sub-title {
  margin: 18px 0 6px 0;
}

.siblings {
  margin: 0;
  padding-left: 20px;
}

.section-title {
  text-transform: uppercase;
  font-size: 2.5vw;
  text-align: center;
}

.endorsements {
  background-image: url("clouds.webp");
  background-repeat: repeat;
}

.endorse-layout {
    display: flex;
    gap: 2%;

}
.endorsement-card {
    border-left: 1px solid #cccaca;
    background-color: white;
    padding: 10px;
    flex: 1;
}
.endorsement-card hr{
    width: 40%;
    margin: 10px 0;
    font-style: italic;
}

.endorser {
    margin: 0;
}

.friends-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.friends-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 למעלה */
  
}


.friend-img {

}

.footer {

}
